@font-face {
    font-family: 'Dobrozrachniy Regular';
    src: url('../fonts/Dobrozrachniy-Regular.eot');
    src: url('../fonts/Dobrozrachniy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Dobrozrachniy-Regular.woff') format('woff'),
        url('../fonts/Dobrozrachniy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}